*{
  margin: 0;
  padding: 0;
}
.img-logo{
  width: 4vw;
  height:4vw;
  padding: 2vh;
  
}
.home-root{
  display: flex;
  justify-content: space-between;
}
.link{
text-decoration: none;
color: black;
padding: 2vh;
font-size: 5vh;
}